@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Pizza

<div class="container">
    <h2><u>Compila il form per aggiungere la pizza al menù</u></h2>
    <form>
        <div class="mb-3">
            <label class="form-label fw-bolder">Nome</label>
            <input type="text" class="form-control" asp-for="Name">
        </div>

        <div class="mb-3">
            <label class="form-label fw-bolder">Descrizione</label>
            <input type="text" class="form-control" asp-for="Description">
        </div>

        <div class="mb-3">
            <label class="form-label fw-bolder">Percorso dell'immagine</label>
            <input type="text" class="form-control" asp-for="Image">
        </div>

        <div class="mb-3">
            <label class="form-label fw-bolder">Prezzo (€)</label>
            <input type="text" class="form-control" asp-for="Price">
        </div>

        <button type="submit" class="btn btn-link btn-lg" value="salva">Aggiungi la pizza</button>
    </form>
</div>